/* @import url(tokens.css); */
/* Son roles de la interfaz */

:root {
    /*======== Brand ========*/

    --semantic-brand: var(--color-primary-700);
    --semantic-brand-hover: var(--color-primary-800); /*generalmente es de un tono mas alto que el brand */
    --semantic-brand-soft: var(--color-primary-400);
    
    /* ===== BackGround ===== */
    
    --semantic-background: var(--color-white); /*Fondo para toda la aplicacion*/
    --semantic-surface: var(--color-gray-600); /*Fondo para modales, cards, containers*/
    --semantic-surface-muted: var(--color-gray-200); /*Zonas secundarias, con menos importancia*/
    
    /*  ====== Text ======*/
    --semantic-text-primary: var(--color-gray-900); /*Color principal de lectura, titulos, texto base del documento*/
    --semantic-text-secundary: var(--color-gray-700); /*Textos menos dominantes*/
    --semantic-text-muted: var(--color-gray-500); /*Texto deshabilitado, por ejemplo*/
    --semantic-text-inverse: var(--color-gray-50); /*Texto invertido*/

    /*  ====== Border ======= */
    --semantic-border: var(--color-gray-700); /*Borde principal de todos los componentes*/
    --semantic-border-strong: var(--color-gray-400) /* Border mas fuertes*/

    /* ====== State ======== */
    --semantic-warning: var(--color-secundary-950);

    /* ================================================ */
    /*          YA NO DEPENDEMOS DE NOMBRES DE COLOR,
                    DEPENDEMOS ES DE INTENCION 
        ==============================================*/


}